# Add this to .gitignore if using local .env files
.env
.env.local
.env*.local
*.env

# GitHub Actions
.github/workflows/*.log

# macOS system files
.DS_Store

# Cache directories
/cache

neo4j/

CAD-parser/draft/*.py
CAD-parser/.venv
CAD-parser/__pycache__/*
# CubiCasa5k/model_best_val_loss_var.pkl
